/* BODY */

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}



/* HEADINGS */

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 1000;
    padding: 1rem, 2rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    width: auto;
    padding: 8px 0px 6px 0px;
}  
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 2px;
}
  
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    transition: color 0.2s ease;
}
  
.nav-links a:hover {
    color: red;
}
  
/* To avoid hiding the top of your content behind the nav */
    /* body { */
        /* padding-top: 80px;  Adjust based on navbar height */
/* } */


/* HERO SECTION */

header {
    position: relative;
    height: 100vh;
    background: url('images/hero-1.jpg') no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
    overflow: hidden;
}

/* Adds a 30% black opacity layer to the hero section, using z-index: -1 to place it behind the text but over the image*/
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 30% black */
    z-index: -1;
}

header h1 {
  font-size: 4rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  
  transition: background 0.3s;
}

header button:hover {
  background-color: darkred;
}
  
button {
    background-color: red;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}


/* SERVICES SECTION */

#services {
    padding: 4rem 2rem;
    text-align: center;
    background: #111;
    color: white;
}
  
.services-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
  
.service-card {
    background: #222;
    padding: 2rem;
    border-radius: 4px;
    width: 300px;
    flex: 1 1 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.service-card img {
    width: 60px;
}

.service-card p {
    font-size: 1.1rem;
    margin-top: -12px;
    line-height: 1.6rem;
}



/* TRANSFORMATIONS SECTION */
#transformations {
    padding: 4rem 2rem;
    background: #111;
    text-align: center;
    color: white;
}
  
.slider-container {
    max-width: 960px;
    margin: 2rem auto;
    overflow: hidden;
}
  
.slider-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
  
.slide {
    flex: 0 0 calc(100% / 3);
    padding: 0 10px;
    box-sizing: border-box;
}
  
.slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
}
  
.slider-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.slider-btn {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
  
.slider-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}
  
@media (max-width: 768px) {
    .slide {
      flex: 0 0 100%;
    }
}  
  


/* CONTACT SECTION */

#contact {
    padding: 4rem 2rem;
    background: #111;
    color: white;
    text-align: center;
}
  
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 2rem auto 0;
}
  
input, textarea {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 2px;
    font-family: Arial, sans-serif;
}
  
button[type="submit"] {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 2px;
}
  
button[type="submit"]:hover {
    background-color: darkred;
}


/* FOOTER */

footer {
    background-color: #000;
    color: #fff;
    padding: 3rem 1rem;
    margin-top: 5rem;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo-footer img {
    height: 110px;
    width: auto;
    margin-bottom: 0.8rem;
}
  
.socials {
    display: flex;
    gap: 1.5rem;
}
  
.socials a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.copyright {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.45);
}